ADMIN_JWT_SECRET=
API_TOKEN_SALT=
APP_KEYS=
DATABASE_CLIENT=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_SSL=
DATABASE_SSL_REJECT_UNAUTHORIZED=
DATABASE_USERNAME=
ENCRYPTION_KEY=
HOST=0.0.0.0
PORT=1337
JWT_SECRET=
TRANSFER_TOKEN_SALT=